@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Test</a>
            <form action="/" method="Get" class="navbar-form pull-right">
                <div class="form-group">
                    <label >Pilih Kelas</label>
                    <select name="query">
                      <option value="Desa">Desa</option>
                      <option value="Kecamatan">Kecamatan</option>
                      <option value="Lokasi">Lokasi</option>
                      <option value="Pariwisata">Pariwisata</option>
                      <option value="Penginapan">Penginapan</option>
                      <option value="Hotel">Hotel</option>
                      <option value="Wisama">Wisma</option>
                    </select> 
                </div>
                <button type="submit" class="btn">Lihat</button>
            </form>
            <form action="/" method="Get" class="navbar-form pull-right">
                <div class="form-group">
                    <label >DLQuery</label>
                    <input type="text" class="span2" name="query" placeholder="Desa or Kecamatan" value="">
                </div>
                <button type="submit" class="btn">Ambil Instances</button>
            </form>
        </div>
    </div>
    </div>

    <div id="instances" class="container">

    </div>

}

